<!DOCTYPE html>
<html lang="en" ng-app="arit">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The ARIT of War</title>

    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/lumen/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="app.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container" ng-controller="PageController as pageCtrl">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li ng-repeat="page in pageCtrl.pages" ng-class="{ active:pageCtrl.isCurrent(page.slug) }"><a href="#{{page.slug}}" ng-click="pageCtrl.setPage(page)">{{page.title}}</a></li>
        </ul>
        <h3 class="text-muted">The ARIT of War</h3>
      </div>

      <h1>{{pageCtrl.page.title || "Please select a page above."}}</h1>

      <section id="leaderboard" ng-show="pageCtrl.isCurrent('leaderboard')">
        <table class="table table-striped table-hover" ng-controller="PlayerController as store">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Kills</th>
              <th>Deaths</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in store.players | orderBy:'-kills'">
              <td>index</td>
              <td>{{player.name}}</td>
              <td>{{player.kills}} kills</td>
              <td>{{player.deaths}} deaths</td>
              <td>{{player.description}}</td>
              <td><button class="btn btn-default" ng-hide="player.attacked"> I attacked this player! </button></td>
            </tr>
          </tbody>
        </table>
      </section>

      <div class="footer">
        <p>Find us on &nbsp;<a href="https://github.com/sman591/arit-www/"><i class="fa fa-github"></i> GitHub</a></p>
      </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>