<h1 class="page-header">Leaderboard</h1>

<table class="table table-striped table-hover" ng-controller="PlayerController as store">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>K/D</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="player in store.players | orderBy:'-kills'">
      <td>index</td>
      <td>{{player.name}}</td>
      <td>{{player.kills}} kills</td>
      <td>{{player.deaths}} deaths</td>
      <td>{{player.kills / player.deaths | number : 2}}</td>
    </tr>
  </tbody>
</table>